        .nav{
            background-color: rgb(3, 3, 71);
            height: 70px;
        }
        .cap-icon{
            padding: 7px 40px 7px 10px;
            border-radius: 9px;
        }
        #profilebtn{
            border: 1px solid white;
            height: 30px;
            padding-bottom: 35px;
            background: none;
            padding: 7px 12px 37px 10px;
            border-radius: 6px;
           
        }
        .ms-10{
            margin-left: 190px;
        }
        .ms-60{
            margin-left: 780px;
        }
        #course-popup{
            background-color: aliceblue;
            position: fixed;
            top: 10%;
            left: 30%;
            z-index: 1000;
            width: 45%;
        }
        .icons{
            font-size: 40px;
            background-color: rgb(216, 232, 246);
        }
        .add-course{
            background-color: rgb(224, 239, 252);
            width: 85%;
        }
        #parent-popup{
            width: 50%;
            height: 100%;
            border-radius: 7px;
            background-color: aliceblue;
            box-shadow: 2px 1px 10px rgb(137, 134, 134);
            position: fixed;
            top: 10%;
            left: 25%;
            z-index: 1000;
        }
        .crossbtn{
            margin-left: 73%;
        }
        .profile-icon{
            font-size: 170px;
            margin-left: 20px;
        }
        .namespan{
            margin-left: 85px;
        }
        .emailspan{
            margin-left: 90px;
        }
        .spespan{
            margin-left: 16px;
        }
        .expspan{
            margin-left: 40px;
        }
        .my-course-list{
            background-color: rgb(190, 234, 247);
            border-radius: 7px;
            padding:10px 0px 10px 33px;
        }
        .bullet{
            font-size: 10px;
           
        }
        .edit-profile-btn{
            border: 2px solid blue;
            border-radius: 7px;
            background-color: aliceblue;
        }
        .change-pass-btn{
            border: 2px solid orange;
            border-radius: 7px;
            background-color: aliceblue;
        }
        .logout-btn{
            border: 2px solid red;
            border-radius: 7px;
            background-color: aliceblue;
        }
        .divtag{
            height: 200px;
            border: 1px solid rgb(176, 175, 175);
            border-radius: 15px;
            box-shadow: 1px 1px 1px gray;
            width: 99%;
            margin-left: 10px;
        }
        .img{
            margin-left: 300px;
            width: 45%;
            height: 87%;
        }
        #stats{
            height: 230px;
        }
        .innerdiv{
            width: 22%;
            height: 55%;
            border: 2px solid rgb(176, 175, 175);
            border-radius: 5px;
            

        }
       #bi-book-fill{
        background-color: rgb(198, 223, 251);
        margin-top: 10px;
        position: relative;
        border-radius: 7px;
        
       }
       .icondiv{
        position: relative;
        top: 35px;
       }
       .total{
        margin-left: 90px;
       }
       .people-icon{
        color: rgb(165, 66, 201);
        background-color: rgb(182, 187, 232);
        border-radius: 7px;
       }
       .fa-calendar-days{
        color: rgb(2, 61, 2);
        background-color: greenyellow;
        border-radius: 10px;
        padding: 10px 40px 10px 12px;
       }
       .bi-person-fill{
        color: orange;
        background-color: rgb(244, 211, 150);
        border-radius: 7px;
       }
       #my-course{
        width: 64%;
        height: 300px;
       }
       .my-course-details{
        height: 60%;
       }
       .my-students-details{
        height: 60%;
       }
       .arrow-icon{
        margin-right:10px ;
       }
       #my-students{
        width: 35%;
        height: 300px;
       }
       .course-list{
        width: 25%;
        border: 2px solid rgb(152, 152, 152);
        border-radius: 7px;
       }
      
       .table-responsive{
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 7px;
       }
       .view-std{
        background-color: rgb(251, 246, 239);
        width: 99%;
        height: 99%;
        position: fixed;
        top: 5px;
        z-index: 1000;
       }
       .profile-pic{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgb(106, 106, 106);
        margin-left: 60px;
       }
       .w-40{
        width: 35%;
       }
       #footer{
        border-radius: 7px;
       }

       
    